# Virtual Environment
.phoneautoEnv/

# Large resource files
resources/lamda-server-arm64-v8a.tar.gz
resources/xhs9.15.0.apk
resources/frp_0.65.0_linux_arm64.tar.gz
resources/busybox-arm64-v8a

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
